body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

/* The second outer most div, contains the "div that contains divs" */
.divCont {
    margin-top: 20px;
    flex: 0 0 860px;
    width: 860px;
    outline: auto;
}

/* The div that contains many div */
.newDiv {
    /* outline: auto; */
    display: flex;
}

/* Single div */
.divInsideDiv {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    background-color: rgb(0,0,0 /0);
    outline: auto;
}

/* .divInsideDiv:hover {
    background-color:
} */

.numBtn {
    font-size: 24px;
}